*
{
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    color: black;
    text-decoration-color: black;
}

a:hover
{
    color:gray;
    text-decoration-color: black;
    cursor:pointer;
}

.crunch
{
    margin: 0;
    padding: 0;
}

.uncrunch
{
    padding: 0px 8px 0px 8px;
}

.hiddenClass
{
    display: none;
}

/* Large button*/
.button
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.button:hover
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

/* Large button with black fill, white text */
.buttonInv
{
    align-items: center;
    background-color: #333333;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonInv:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #333333;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

/* Large button with red fill, white text */
.buttonWarn
{
    align-items: center;
    background-color: #ae2b29;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonWarn:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #ae2b29;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

/* Smaller sized button used in the header and in some other pages */
.smallButton
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButton:hover
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

/* Same as smallButton but with black fill, white text */
.smallButtonInv
{
    align-items: center;
    background-color: lightgreen;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
    color: black;
}

.smallButtonInv:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #333333;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

/* Smaller sized button used in the header and in some other pages */
.smallButtonWarn
{
    align-items: center;
    background-color: #ae2b29;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButtonWarn:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #ae2b29;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

/* Classes used in the login and register pages */
.loginHeader
{
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: darkgray;
}

.mainHeader
{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    align-items: center;
    background-color: darkgray;
}

.mainHeader h1
{
    margin-left: 20px;
}

.mainHeaderdiv
{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.mainHeader a
{
    margin: 10px;
}

.mainHeaderLogout
{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    align-items: center;
    background-color: darkgray;
}

.mainHeaderLogout h1
{
    margin-left: 20px;
}

.mainHeaderLogout div
{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.mainHeaderLogout a
{
    margin: 10px;
}

.min
{
    font-size: large;
}

.flex
{
    display: flex;
    flex-direction: row;
}

.footer
{
    
    display: flex;
    
       
    display: flex;
    justify-content:center;
    flex-direction: row;
    padding: 5px;
    column-gap: 10%;
    
    border-top: solid 2px gray;
    margin-top: 30px;
    /* border-radius: 25px; */
    background-image: linear-gradient(darkgray, white);
}

.footer div {
    width: 20%;
}

.headerPfp
{
    border-radius: 9000px;
    object-fit: cover;
    width: 75px;
    height: 75px;
    border: 4px solid black;
    cursor: pointer;
    filter:brightness(1);
}

.headerPfp:hover
{
    filter:brightness(1.5);
}

.footerItem {

    
    display: flex;
    flex-direction: column;
    height: auto;
    /*width: 25%;*/
    align-content:flex-start;
    
    padding: 0px;
    column-gap: 5px;
    /*justify-content: center;*/
    font-size: small;
    justify-content: left;
    flex: 2 1 auto;

}

.footerItem div {

    align-content: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.footerItem a {
    margin-bottom: 15px;
    max-height: 35px;
}

.cartIcon {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.cartIcon:hover {
    background-color: #c5c3c3;
}

.split
{
    height: 2px;
    background-color: gray;
    margin: 10px 0px 10px 0px
}

.save
{
    color: white;
    background-color: #7698f9;
}

.finishCustomise
{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 30px;
    max-width: 80%;
    margin: 0px auto 0px auto;
}

.BannerFlex {
border-top: 5px solid black;
}

.HomePageFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 3px solid black;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(164, 164, 164);

}

.smallButtonHomePage
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 8em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButtonHomePage:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 8em;
    font-size:30px;
    box-sizing: border-box;
}

.darkRedColor
{
    color: darkred;    
}

.dropdownContainer
{
    position:relative;
    align-items: center;
    display: flex;
}

#dropdownTri
{
    position: absolute;
    top: 102px;
    right: 112px;
    width: 0;
    height: 0;
    border-bottom: 15px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

#dropdown
{
    position:absolute;
    top:114px;
    right:30px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
}

#dropdown a
{
    margin:0px;
    text-decoration: none;
}

#dropdown div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2em;
    background-color: white;
    margin: 2px;
    text-align: center;
    font-size: 2em;
}

#dropdown div:hover
{
    background-color: darkgray;
    color: white;
}

#logo {

    margin: 0;
}

#logo a img
{
    border-radius: 10px;
}