*
{
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    color: black;
    text-decoration-color: black;
}

a:hover
{
    color:gray;
    text-decoration-color: black;
    cursor:pointer;
}

.crunch
{
    margin: 0;
    padding: 0;
}

.uncrunch
{
    padding: 0px 8px 0px 8px;
}

.button
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.button:hover
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonInv
{
    align-items: center;
    background-color: #333333;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonInv:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #333333;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonWarn
{
    align-items: center;
    background-color: #ae2b29;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.buttonWarn:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: #ae2b29;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 9em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButton
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButton:hover
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButtonInv
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButtonInv:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 6em;
    font-size:30px;
    box-sizing: border-box;
}

.loginHeader
{
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login
{
    display: flex; 
    flex-direction:column; 
    justify-content:center; 
    max-width: 80%;
    margin:0px auto 0px auto;
    font-size:2em;
}

.login h3
{
    font-size: 0.8em;
    color: red;
    margin: 10px 0px 10px 0px;
}

.login input
{
    height: 1.5em;
    font-size: x-large;
    margin-bottom: 5px;
}

.login ul, .login p
{
    margin: 0;
    color: darkslategray;
}

.loginError
{
    border-color: red;
}

.loginFontError
{
    color:red;
    font-size: medium;
}

.loginFontErrorColor
{
    color:red;
}

.mainHeader
{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    align-items: center;
}

.mainHeader h1
{
    margin-left: 20px;
}

.mainHeader div
{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.mainHeader a
{
    margin: 10px;
    
}

.min
{
    font-size: large;
}

.flex
{
    display: flex;
    flex-direction: row;
}

.footer
{
    
    display: flex;
    
       
    display: flex;
    justify-content:center;
    flex-direction: row;
    padding: 5px;
    column-gap: 10%;
    background-color: white;
    border-top: solid 2px gray;
    margin-top: 30px;
    /* border-radius: 25px; */
}

.footer div {
    width: 20%;
}

.creatorBox
{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
    
    padding: 10px;
    column-gap: 20px;
    justify-content: center;
    
    
}

.creatorBox div a, .creatorBox div a:visited, .creatorBox a:hover, .creatorBox a:active .creatorBox h2
{
    color: darkslategray;
}

.creatorBox p
{
    font-size: 2vw;
}

.creatorBox img
{
    height: 100%;
    width: 100%;
    
    
}

.creatorFlex
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.footerItem {

    
    display: flex;
    flex-direction: column;
    height: auto;
    /*width: 25%;*/
    align-content:flex-start;
    
    padding: 0px;
    column-gap: 5px;
    /*justify-content: center;*/
    font-size: small;
    justify-content: left;
    flex: 2 1 auto;

}

.footerItem div {

    align-content: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.footerItem a {

    max-height: 35px;
}

.regBlock {
    display: flex;
    align-content:space-between;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 25px;
    background-color: lightblue;
}

.regBlock div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    justify-content: center;
}

.DiscussionBlock {
    display: flex;
    align-content:space-between;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 25px;
    background-color: lightblue;
    flex-direction:column;
    flex: 0 1 calc(20% - 8px);
}

.DiscussionPost {
    flex: 0 1 calc(20% - 8px);
    align-content:space-between;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 25px;
    background-color: lightblue;
    
}

.cartIcon {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.cartIcon:hover {
    background-color: #c5c3c3;
}

#discussionpost_layout {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 3px;
	width: 100%;
	height: 100%;
}
#Event_Title {
	grid-area: 1 / 1 / 2 / 3;
	background-color: rgba(202,231,246, 0.5);
}
#Event_Description {
	grid-area: 2 / 1 / 4 / 3;
	background-color: rgba(249,89,252, 0.5);
}
#Event_Image {
	grid-area: 1 / 3 / 3 / 4;
	background-color: rgba(190,79,61, 0.5);
}
#Price_Amount {
	grid-area: 3/3/4/4;
	background-color: rgba(180,191,227, 0.5);
}

.profileHeader
{
    
    background-image:linear-gradient(rgba(255, 255, 255, 0.558),rgba(255, 255, 255, 0.558)),
    url(../Images/Resources/Headers/AdobeStock_Jogging_One.jpeg);
    background-position: 50% 15%;
    background-size: cover;
    margin: 0px 0px 30px 0px;
    padding: 30px 8px 30px 8px;


    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
}

.profileHeader h1
{
    text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px, 0 -2px 2px white;
    font-size: 3em;
}

.split
{
    height: 2px;
    background-color: gray;
    margin: 10px 0px 10px 0px
}

.customisePfp
{
    border-radius: 9000px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.customisePfpOverlay
{
    object-fit: cover;
    position:absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 29px;
    top: 29px;
}

.pfpContainer
{
    position: relative;
}

.userInfoContainer
{
    max-width: 80%;
    margin: 0px auto 0px auto;
}

.userInfoContainer h2
{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: x-large;
}

.userInfoBoxR
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userInfoBoxR input
{
    font-size: 2em;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.userInfoBoxR label
{
    font-size: x-large;
}

.userInfoBoxR textarea
{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: x-large;
}

.userInfoBoxR a
{
    font-size: large;
    color: blue;
    text-decoration-color: blue;
}

.userInfoBoxR a:hover
{
    font-size: large;
    color: cyan;
    text-decoration-color: cyan;
}

.userInfoBoxR select
{
    width: 50%;
    height: 40px;
    font-size: large;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.themeBox
{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.save
{
    color: white;
    background-color: #7698f9;
}

.finishCustomise
{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 30px;
    max-width: 80%;
    margin: 0px auto 0px auto;
}

.BannerFlex {
border-top: 5px solid black;

}

.HomePageFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 3px solid black;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(164, 164, 164);

}

.smallButtonHomePage
{
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 8em;
    font-size:30px;
    box-sizing: border-box;
}

.smallButtonHomePage:hover
{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 8em;
    font-size:30px;
    box-sizing: border-box;
}

#logo {

    margin: 0;
}

#logo a img
{
    border-radius: 10px;
}

#discussionImage {

    max-width: 100%;
    
}

#Event_Title h1 {
    font-size: 240%;
    text-align: center;
}

#Event_Description {
    text-align: center;
    font-size: larger;
}

#Price_Amount {
    text-align: center;
    align-items: center;
    
}

#popup-ticket {
    display: none;
    width:fit-content;
    height:fit-content;
    border:1px solid #CCC;
    background:#EEE;
    
  }

  #popup-ticket a {
    color: blue;
    text-decoration: underline;
  }
  
  #popup-ticket:target {
    display: block;
  }

