.DiscussionBlock {
    display: flex;
    align-content:space-between;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 25px;
    background-color: lightblue;
    flex-direction:column;
    flex: 0 1 calc(20% - 8px);
}

.DiscussionPost {
    flex: 0 1 calc(20% - 8px);
    align-content:space-between;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 25px;
    background-color: lightblue;
}

.discussionDeleteImage
{
    width: 8%;
    margin-left: auto;
    padding: 10px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.discussionDeleteDiv
{
    grid-column: 1/4;
}

.discussionDeleteDiv input
{
    height: 2em;
    border: 3px solid black;
    border-radius: 5px;
    width:20%;
}

#discussionpost_layout {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 3px;
	width: 100%;
	height: 100%;
}

#Event_Title {
	grid-area: 1 / 1 / 2 / 3;
	background-color: rgba(202,231,246, 0.5);
}

#Event_Title h1 {
    font-size: 240%;
    text-align: center;
}

#Event_Description {
	grid-area: 2 / 1 / 4 / 3;
	background-color: rgba(249,89,252, 0.5);
    text-align: center;
    font-size: larger;
}

#Event_Image {
	grid-area: 1 / 3 / 3 / 4;
	background-color: rgba(190,79,61, 0.5);
}

#Price_Amount {
	grid-area: 3/3/4/4;
	background-color: rgba(180,191,227, 0.5);
    text-align: center;
    align-items: center;
    position:relative;
}

#discussionImage {
    max-width: 100%;
}

#popup-ticket {
    display: none;
    width:fit-content;
    height:fit-content;
    border:1px solid #CCC;
    background:#EEE;
    
  }

  #popup-ticket a {
    color: blue;
    text-decoration: underline;
  }
  
  #popup-ticket:target {
    display: block;
  }

